@model QuanLyThuVien_DA.Models.FITHOU_LIB_TinTucSuKienView

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@{
    var userID = Session["UserID"];
    var userName = Session["UserName"];
    var userRole = Session["UserRole"];
}


<h3 class="text-center font-weight-bold mt-3 mb-3 text-primary">@Model.TieuDe</h3>


<style>
    .custom-img-details {
        max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước cột */
        height: auto; /* Đảm bảo tỷ lệ hình ảnh */
    }

    .details-container {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

        .details-container p {
            margin-bottom: 10px;
        }

    .details-content {
        margin-top: 20px;
    }
</style>

<div class="container details-container">
    <div class="row details-content">
        <div class="col-12">
            <p><strong></strong></p>
            <div>@Html.Raw(Model.NoiDung)</div>
        </div>
    </div>
</div>


<style>
    .custom-img-details {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    p {
        color: black;
    }
</style>
