
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center font-weight-bold mb-4 text-primary">Chào mừng đến với trang quản trị</h2>

<div class="d-flex justify-content-center align-items-center" style="height: auto;">
    <img src="~/Image/FITHOULIB-Logo.png" class="img-fluid" alt="FITHOU LIB Logo" />
</div>
